<!DOCTYPE html>

<html>
    <h1>Sign up</h1>

    <form action="/users" method="post" accept-charset="UTF8">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    </form>
</html>